
        body {
            background: linear-gradient(to bottom, #020F1F, #451776);
            color: #000000;
            min-height: 100vh;
        }

        .main-content {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
        }

        .card-body {
            border: none;
        }

        .card,
        .col-md-6 {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: #000000;
            width: 100%;
            max-width: 300px;
            margin-bottom: 20px;
        }

        .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis.
        }

        .list-group-item {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: #000000.
        }

        .navbar {
            background-color: #ffffff;
            color: #000000;
        }


        .valor-total {
            border: 1px solid #dddddd.
            background-color: #f9f9f9.
            padding: 10px.
            border-radius: 5px.
            margin-bottom: 10px.
        }

        .card-columns {
            column-count: auto.
            column-gap: 15px;
        }