<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Painel do Usuário</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/telausuario.css">
</head>


<body class="bg-gradient-primary">
<div class="header">
    <div class="user-info">
        <span>Bem-vindo, João da Silva</span>
        <span>| Matrícula: 12345</span>
    </div>
    <a href="/" class="logout">Sair</a>
</div>


<div class="container">
    <div class="table-container">
        <h2>Chamados</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Chamado</th>
                <th>Setor</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chamado:${chamadosAbertos}">
                <td th:text="*{chamado.id}"></td>
                <td th:text="*{chamado.setor.tipoSetor}"></td>
                <td th:text="*{chamado.descricao}"></td>
                <td th:text="${chamado.prioridade != null} ? ${#strings.toUpperCase(chamado.prioridade.tipoPrioridade)} : 'Prioridade não definida'"></td>
                <td th:text="*{chamado.data_inicio}"></td>
                <td th:text="*{chamado.data_termino}"></td>
                <td th:text="*{chamado.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="form-container">
        <h2>Criar Novo Chamado</h2>
        <form method="post" action="/cadastra-chamado" onsubmit="showModal()">
            <label for="setor">Setor:</label>
            <select id="setor" name="setor" required>
                <option value="">Selecione o Setor</option>
                <option th:each="option : ${setores}" th:value="${option.id_setor}" th:text="${option.tipoSetor}"></option>
            </select>

            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" placeholder="Descreva o problema" required>

            <button class="btn btn-primary btn-user btn-block" type="submit">Criar Chamado</button>
        </form>
        <div th:if="${statusChamado}" onload="showModal([[${mensagem}]]);"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Chamado Cadastrado com Sucesso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Seu chamado foi cadastrado com sucesso.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function showModal() {
        $('#successModal').modal('show');
    }
</script>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
</body>
</html>
